{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/tareas.css' %}">
    <title>Tareas</title>
</head>
<body>
    <section>
        <form class="form" method="POST">
            {% csrf_token %}
            <p class="titulo">Registrar nueva tarea</p>
            <div class="field">
                {{ form.nombre_tarea }}
            </div>
            <div class="field">
                {{ form.descripcion_tarea }}
            </div>
            <div class="field">
                {{ form.completar_tarea }}
            </div>
            <div class="btn">
                <button class="button2" type="submit">Completar</button>
            </div>
         </form>


    </section>
</body>
</html>