body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Color de fondo de la página */
}

.centered-container {
    background-color: #ffffff; /* Color de fondo del contenedor */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.titulo {
    font-size: 24px;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 15px;
}

.btn .button2 {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn .button2:hover {
    background-color: #0056b3;
}
